*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /*Home*/
  header{
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    transition:.7s;
    padding:40px 100px;
    z-index: 100000;
    font-family:"Oswold" ,sans-serif;
  }
  header.sticky{
    padding:5px 100px;
    background:#000;
    opacity:.8;
    transition:.7s;
  }
  header .logo{
    position:relative;
    width:175px;
    height:160px;
    transition:.6s;
  }
  a{
      text-decoration: none;
  }
  header ul{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
  }
  header ul li{
    position:relative;
    list-style: none;
  }
  header ul li a:hover  {
    color: #7df9ff;
    transform:scaleX(1.5);
  }
  header.sticky ul li:hover a {
    color: #7df9ff;
  
  }
  
  header ul li a{
    position:relative;
    margin:0 15px;
    text-decoration: none;
    color:#fff;
    letter-spacing: 2px;
    font-weight:bold;
    transition:.5s;
    text-transform: UPPERCASE;
  }
  .mainabout{
    font-size:43px;
    font-weight:bold;
    text-align: center;
    -webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  #sub-header{
    height:70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,.8), rgba(4,9,30,.8)), url(galaxybg1.jpg);
    background-position: center;
    background-size:cover;
    text-align: center;
    color:#fff;
  }
  #sub-header h1{
    margin-top: 50px;
  }
  #infoabout{
    width:80%;
    margin: auto;
    text-align: center;
  }
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.aboutus-col{
    flex-basis:31%;
    background:#c4d9ef;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.aboutus-col1 {
    flex-basis: 31%;
    background: #c4d9ef;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    width: 400px;
    height: 270px;
    display: block;
    transition: .5s;
}
.aboutus-col:hover, .aboutus-col1:hover{
    box-shadow:0 0 20px 0 rgba(0,0,0,.2);
}
#taphere{
    width: 80%;
  margin:auto;
  padding-top:100px;
}
.myabout{
    font-size:36px;
    font-weight: 600;
  }
  .about-col3{
    flex-basis:48%;
    padding: 30px 2px;  
    bottom:50%;
  }
  .about-col3 img{
    width:100%;
  }
  .row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
  }
  .about-col3 h1 p{
    bottom:50%;
    align-items: center;
  }
  #bgabout{
    background: url(1.png );
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  .header {
    position: relative;
  }
  
  .header .slide-in-fwd-tr {
    -webkit-animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-fwd-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @-webkit-keyframes slide-in-fwd-tr {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
              transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-fwd-tr {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
              transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }